

body{
    background: radial-gradient(#121212, #1f1f1f);
    background-size: 20px 20px;
}
.menu-in-circle{
    position: fixed;
    left: 35px;
    bottom: 20px;
    background-color: #545454;

}
.menu-in-circle ul{
   
    background-color: red;
}
.menu-in-circle li:nth-of-type(1){
    width: 3em;
    height: 3em;
    background-color: #434343;
}
.menu-in-circle li:nth-of-type(2){
    width: 3em;
    height: 3em;
    background-color: #434343;
}
.menu-in-circle li:nth-of-type(3){
    width: 3em;
    height: 3em;
    background-color: #434343;
}
.menu-in-circle li:nth-of-type(4){
    width: 3em;
    height: 3em;
    background-color: yellow;
}
.menu-in-circle li:nth-of-type(5){
    width: 3em;
    height: 3em;
    background-color: green;
}